html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  height: 100%;
}

a,
button,
input,
textarea,
svg {
  transition-duration: var(--transition-duration);
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
